<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Draft Reps</title>
    <meta charset="utf-8">
    <meta name="Bet on a better government | Bet on the liars" CONTENT="DraftReps">
    <meta name="revisit-after" content="2 days">
    
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

    <link rel="stylesheet prefetch" link="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/type/stylesheet.css">
    <!-- animsition.css -->
    <link rel="stylesheet" href="js/animsition/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">      
  </head>

<body>
  <div class="container animsition">
    <div class="row">
      <div class="col-md-12">
        <!--atom should be inside on/off button. When turned on atom lights up. white background turns black. Then 3d stary night appears-->
        <nav class="navbar navbar-default" role="navigation">
          <div class="col-md-12">
            <div class="navbar-header">
              <a class="navbar-brand" href="draftReps.html">DraftReps - Bet on a better government</a>
            </div>
            <ul class="nav navbar-nav navbar-right animsition-link">
              <li>
                <a href="#">Draft</a>
              </li>
              <li>
                <a href="#">Your Profile</a>
              </li>
              <li>
                <a href="#">Past Games</a>
              </li>
              <li>
                <a href="#">Contact Reps</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!--Jumbotron -->
    <div class="jumbotron animsition" id="jumboImage">
      <a name="home"></a>
      <div class="text-center" id="header">
        <h2 id="main-logo">Your Team<span class="asterisk">*<span><br></span></span></h2>
        <p id="subtext">*</p>
        <!-- replace button with div --> 
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university"></i> Politician 1</a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university"></i> Politician 2 </a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university"></i> Politician 3 </a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university"></i> Politician 4</a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Politician 5 </a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Politician 6</a>
        </button>
        <button class="btn politician">
          <a href="#" target="_blank"><i class="fa fa-university" aria-hidden="true"></i> Politician 6</a>
        </button>
      </div>
    </div>
    <!--Canvas-->
    <p> Add canvas for p5.js and d3.js, here</p>

    <!--Footer -->
    <div class="panel-footer">
      <h2 class="text-center">
      <div class="footer-config">
      <i class="fa fa-copyright" id="copywrite"></i>Draft Reps<span class="asterisk">*</span>2O16</div></h2>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- animsition.js -->
    <script src="js/animsition/animsition.min.js"></script>
    <!-- my scripts -->
    <script src="js/main.js"></script> 
    <script src="js/app.js"></script> 
    <!-- animsition-effects script--> 
    <script src="js/animsition-effects.js"></script>
  </body>
</html>

