extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/paypal', style='color: #000')
        .panel.panel-default(style='background-color: #f5f5f5')
          .panel-body
            img(src='http://i.imgur.com/JNc0iaX.png', height=40)
            |  PayPal
    .col-sm-4
      a(href='/api/scraping', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=40)
            |  Web Scraping
    .col-sm-4
      a(href='/api/google-maps', style='color: #fff')
        .panel.panel-default(style='background-color: #20a360')
          .panel-body
            img(src='http://i.imgur.com/Er2ZqgZ.png', height=40)
            |  Google Maps
